@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
 font-family: "Poppins", sans-serif;
  text-align: justify;
}

/* NAVBAR UNIVERSAL */
.navbar {
  padding: 15px 30px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #1b8836;
}

.navbar-nav .nav-link {
  color: #333;
  font-weight: 600;
  margin-left: 15px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover {
  color: #1cb11c;
}

.dropdown-menu { 
  border-radius: 8px;
}

#cadastro {
  padding: 8px 20px;
  font-size: 16px;
  color: white;
  background-color: #1b8836;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

#cadastro:hover {
  background-color: #175727;
}



.section {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
}

.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;

}

.content-section {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  width: 40%;
}

.image-section img{
  width: 100%;
  height: auto;
}

.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}

.content-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}

.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18 px;
  line-height: 1,5;
}

.content-section .content .button {
  margin-top: 30px;
}

.content-section .content .button a {
  background-color:#158c15;
  padding: 12px 40px;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1.5;
}

.content-section .content .button a:hover {
  background-color: #175727;
  color: #ffffff;
}

.content-section .social {
  margin-top: 40px;
}

.content-section .social i {
  color:#1cb11c;
  font-size: 30px;
  padding: 0px 10px;

}

.content-section .social i:hover {
    color: #3d3d3d;
}



/* RESPONSIVO */
@media (max-width: 768px) {
  .container-contato {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .contato-texto {
    text-align: center;
  }

  .contato-imagem {
    justify-content: center;
    margin-top: 2rem;
  }

  .contato-imagem img {
    max-width: 100%;
  }

  .container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 50px;
  }

  
.content-section {
  float: none;
  width: 100%;
  display: block;
  margin: auto;
}

.image-section {
   float: none;
  width: 100%;
}

.image-section img {
  width: 100%;
  height: auto;
    display: block;
    margin: auto;
}

.content-section .title {
  text-align: center;
  font-size: 19px;
}

.content-section .content .button{
  text-align: center;
}

.content-section .content .button a {
  padding: 9px 30px;
}

.content-section .social {
  text-align: center;
}
}
