/* =====================
   HISTÓRICO DE AGENDAMENTOS
===================== */
.table-success th {
  background-color: var(--cor-btn);
  color: var(--cor-texto-claro);
}

.table-hover tbody tr:hover {
  background-color: rgba(27, 136, 54, 0.1);
}

.btn-warning {
  background-color: #f0ad4e;
  border: none;
}

.btn-warning:hover {
  background-color: #d98a1b;
}
