@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: url('../img/fundo.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(6px);
  z-index: -1;
}

header h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid #28a745;
    display: inline-block;
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  max-width: 450px;
  margin: 5rem auto;
  padding: 2.5rem;
  text-align: center;
}

h2 {
  color: #077420;
  font-size: 1.8rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

p {
  color: #f8f8f8;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.btn  {
  background-color: #28a745;
  border: none;
  color: #fff;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #218838;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 1rem 0;
  font-size: 0.9rem;
  background: transparent;
}